@import "/fonts/Roboto/stylesheet.css";
body{
    margin: 0px;
}
/* in line 6 to line 40 it is header CSS code*/
header{
    width: 100%;
    height: auto;
    position: fixed;
    background-color: blue;
}
#appleLogo{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 57px;
    top: 16px;
}
#divHeader{
    float: right;
    height: 52px;
    padding-top: 23px;
}
.aHeader{
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-family: robotoregular;
    padding-right: 33px;
}
.aHeader:hover{
    color: rgb(131, 106, 106);
}
/*******************************************/
/*******************************************/
/* in line 37 to line 51 it is after header CSS code*/
#div-React-Phone{
    min-width: 50%;
    margin-top: 108px; 
    height: auto; 
    float: right;
    border: 1px solid black;
}
#Rectangle{
    width: 21vw;
    height: 44vw;
    float: right;
}
#headPhone{
    width: 46vw;
    height: 45vw;
margin-right: -252px;
}
/*******************************************/
/*******************************************/
#div-theDocomment{
    float: left;
   min-width: 50%;
   height: auto;
   border: 2px solid brown;
}
#div-title{
    float: left;
    font-family: robotobold;
    top: 261px;
    font-size: 47px;
}
#div-p{
    width: 541px;
    height: 100px;
    color: black;
    font-family: robotoregular;
    padding: 25px;
    font-size: 23px;
    float: left;
    color: rgb(100,100,100);
}
#div-buttom{
    width: 10%;
    width: 270px;
    height: 60px;
    float: left;
    font-family: robotobold;
    top: 492px;
    font-size: 23px;
    border: none;
    background-color: rgb(140, 255, 228);
    border-radius: 13px;
}