@import "/fonts/Roboto/stylesheet.css";
body{
    margin: 0px;
}
#aLogo{
    width: 255px;
    height: 57.6px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    
    
}
#appleLogo{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 57px;
    top: 6px;
}
#divHeader{
    width: 34em;
    height: 30px;
    padding-top: 17px;
    background-color: rgb(255, 255, 255);
    color: black;
    float: right;
}
.aHeader{
    padding: 0px;
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-family: robotoregular;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}
.aHeader:hover{
    color: rgb(131, 106, 106);
}
#Rectangle{
    width: 307px;
    height: 615px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    float: right;
}
#headPhone{
    position: sticky;
    left: 54vw;
}
#pNav{
    width: 397px;
    height: 100px;
    border: 1px solid blue;
    color: black;
    font-family: robotoregular;
    position: sticky;
    left: 20vw;
    position: absolute;
    top: 254px;
}