body {
  background-color: black;
  object-fit: fill;
  margin: 0 auto;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.SlideShowDiv {
  position: relative;
  width: 100%;
  height: 800px;
  z-index: 1;
}
.mySlides {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.scrollViewer {
  position: relative;
  height: fit-content;
  width: 100%;
  margin: 20px 0;
}

.movies {
  margin: 0;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  padding-top: 10px;
  user-select: none;
}

.movies .movie {
  background-color: rgba(255, 255, 255, 0.26);
  backdrop-filter: blur(10px);
  display: inline-table;
  position: relative;
  margin: 10px;
  padding-top: 10px;
  padding: 10px;
  width: 200px;
  height: 90%;
  border-radius: 20px;
}

.posters {
  width: inherit;
  height: auto;
  border-radius: 10px;
}

.movie #textContainer {
  margin: 0px;
  width: auto;
  padding: 10px;
}

#title {
  user-select: none;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: auto;
  width: 100%;
  height: 30px;
  word-wrap: break-word;
  white-space: normal;
}
#description {
  user-select: none;
}
#topimg {
  filter: brightness(40%);
  /* vertical-align: middle; */
  overflow: hidden;
  object-fit: fill;
  width: 100%;
  height: auto;
  z-index: 3;
}

#poster {
  position: absolute;
  top: 200px;
  left: 150px;
  width: 230px;
  height: 350px;
  border-radius: 10px;
  z-index: 11;
}

#container {
  color: white;
  position: absolute;
  width: 50%;
  top: 200px;
  left: 450px;
}

.details_li {
  padding: 10px;
  display: inline-table;
  width: 40px;
}

.button {
  user-select: none;
  margin-top: 100px;
  font-weight: bold;
  font: inherit;
  height: 30px;
  width: auto;
}

.details_logo {
  height: 20px;
}
