body {
  background-color: whitesmoke;
  object-fit: fill;
  margin: 0 auto;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.SlideShowDiv {
  position: relative;
  width: 100%;
  height: 700px;
  z-index: 1;
}

.mySlides {
  padding: auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.scrollViewer {
  position: relative;
  height: fit-content;
  width: 100%;
  margin-left: 0px;
}

.movies {
  margin: 0;
  /* overflow: auto; */
  /* white-space: nowrap; */
  text-align: center;
  padding-top: 10px;
  user-select: none;
}

.movies .movie {
  background-color: #f4f5f5;
  backdrop-filter: blur(10px);
  display: inline-table;
  position: relative;
  margin: 10px;
  padding: 0px;
  width: 171px;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 3px grey;
}

.posters {
  width: 171px;
  height: 230px;
  border-radius: 10px 10px 0px 0px;
}

.movie #textContainer {
  margin-top: 10px;
  margin-bottom: 12px;
  padding: 0px;
}

#title {
  user-select: none;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: auto;
  width: 100%;
  height: 47px;
  word-wrap: break-word;
  white-space: normal;
}

#description {
  user-select: none;
}

#topimg {
  filter: brightness(40%);
  /* vertical-align: middle; */
  overflow: hidden;
  object-fit: fill;
  width: 100%;
  height: auto;
  z-index: 3;
}

#poster {
  position: absolute;
  top: 138px;
  left: 97px;
  width: 230px;
  height: 350px;
  border-radius: 10px;
  z-index: 11;
}

#container {
  color: white;
  position: absolute;
  width: 50%;
  top: 213px;
  left: 393px;
}

.details_li {
  padding: 10px;
  display: inline-table;
  width: 40px;
}

.button {
  user-select: none;
  font-weight: bold;
  font: inherit;
  margin-top: 4px;
  height: 25px;
  width: 125px;
  position: relative;
  left: 135px;
  bottom: 10px;
}

.details_logo {
  height: 20px;
}
#sty1 {
  font-size: 18px;
  color: blue;
  margin-right: 5px;
}
#sty2 {
  color: black;
  margin-right: 50px;
  font-size: 15px;
}
#sty3 {
  color: black;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  #poster {
    bottom: 369px;
    left: 36px;
    width: 184px;
    height: 291px;
  }

  #container {
    width: auto;
    top: 179px;
    left: 232px;
  }

  .button {
    margin-top: 4px;
    height: 25px;
    width: 125px;
    position: relative;
    left: 188px;
    bottom: 0px;
  }
}

@media screen and (max-width: 800px) {
  #poster {
    display: none;
  }

  #container {
    position: static;
  }

  .button {
    position: static;
    margin-left: 4%;
  }

  #description {
    user-select: none;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
  }

  #title {
    text-align: center;
    margin-top: 10px;
    color: black;
  }

  .details_li {
    color: black;
    padding: 10px;
    display: inline-table;
    width: 65px;
  }
}

/* @media screen and (max-width: 740px) {
  #poster {
    position: absolute;
    left: 3px;
    top: 102px;
    width: 129px;
    height: 210px;
  }
  #container {
    width: auto;
    top: 95px;
    left: 138px;
  }
  .button {
    margin-top: 4px;
    height: 25px;
    width: 100px;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    left: 175px;
    bottom: 15px;
  }
}
@media screen and (max-width: 650px) {
  #container {
    left: 156px;
  }
  #description {
    display: block;
  }
  .button {
    margin-top: 4px;
    height: 25px;
    width: 86px;
    font-weight: 500;
    font-size: 12px;
    position: relative;
    left: 9px;
    bottom: 0px;
  }
}
@media screen and (max-width: 500px) {
  #poster {
    position: absolute;
    left: 9px;
    top: 54px;
    width: 113px;
    height: 158px;
  }
  #container {
    left: 137px;
  }
}
@media screen and (max-width: 400px) {
  #poster {
    position: absolute;
    left: 9px;
    top: 54px;
    width: 98px;
    height: 133px;
  }
  #container {
    left: 137px;
  }
  .button {
    margin-top: 0px;
    height: 21px;
    width: 79px;
    font-weight: 500;
    font-size: 11px;
    position: relative;
    left: -4px;
    bottom: 8px;
  }
}*/
@media screen and (max-width: 400px) {
  .movies .movie {
    background-color: #f4f5f5;
    backdrop-filter: blur(10px);
    display: inline-table;
    position: relative;
    margin: 10px;
    padding: 0px;
    width: 90px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px grey;
  }
  .posters {
    width: 90px;
    height: 126px;
    border-radius: 5px 5px 0px 0px;
  }
  #title {
    font-size: 10px;
  }
  #type {
    color: black;
    margin: 65px;
    text-align: center;
    font-size: 12px;
  }
  #topimg {
    filter: brightness(40%);
    /* vertical-align: middle; */
    overflow: hidden;
    object-fit: fill;
    width: 100%;
    height: 55%;
    z-index: 3;
  }
  #sty1 {
    font-size: 12px;
    color: blue;
    margin-right: 0px;
  }
  #sty2 {
    color: black;
    margin-right: 5px;
    font-size: 11px;
  }
  #sty3 {
    color: black;
    font-size: 11px;
  }
}
